:root {
    --bg: white;
    --text: black;
    --card: #f2f2f2;
    --primary: black;
}

.dark-mode {
    --bg: #121212;
    --text: white;
    --card: #1e1e1e;
    --primary: white;
}
body { font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 20px;
      display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: var(--card);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

input, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}

footer {
    background: lightgray;
    text-align: center;
    padding: 15px;
}
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
